beautifulsoup4==4.9.3
bs4==0.0.1
certifi==2020.12.5
chardet==4.0.0
colorama==0.4.4
commonmark==0.9.1
distro==1.5.0
idna==2.10
lxml==4.6.2
numpy==1.19.5
pandas==1.2.0
pkg-resources==0.0.0
Pygments==2.7.3
python-dateutil==2.8.1
requests==2.25.1
six==1.15.0
soupsieve==2.1
tabula-py==2.2.0
typing-extensions==3.7.4.3
urllib3==1.26.2
